<nav class="navbar">
  <div class="brand">AutoCustomizer</div>
  <ul>
    <li><a href="/seller/dashboard.html">Dashboard</a></li>
    <li><a href="/seller/orders.html">Orders</a></li>
    <li><a href="/Seller/productmanagement">Product Management</a></li>
    <li><a href="/Seller/bulk-upload">Bulk Upload</a></li>
    <li><a href="/seller/profileSettings.html">Profiles</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
